
<head>
    <style>
        /* Style for header */
        html * {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }

        .container {
            display: block;
            text-align: center;
            border: solid;
        }

        .form {
            display: flex;
            flex-direction: column;
        }
        
    </style>
</head>   



<html>
    {% block content %}
    <div class="container">

            <form method="POST">
            <div class="form">
                {% csrf_token %}
                {{form.as_p}}
            </div>
            
            <button style="background-color:blue; color:white" class="btn btn-outline-info" type="submit">Login</button>
            </form>
    
            Don't have an account? <a href="/movieRecommendation/signUp/" target="blank"><strong>Sign up</strong></a> here!
    
        </div>
    
    {% endblock %}
</html>
    